.menu__title {
  text-align: center;
  margin-bottom: 15px;
}

.menu__btn {
  margin: 0 auto 20px;
}

.card {
  max-width: 275px;
  background: #edefee;
  border-radius: 10px;

  margin: 0 auto;
}
.card:not(:last-child) {
  margin-bottom: 20px;
}
.card__img {
  border-radius: 10px 10px 0 0;
  margin: 0 auto;
}
.card__body {
  padding: 10px 10px 15px;
}
.card__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 20px;
}
.card__title {
  font-size: 16px;
  font-weight: 700;
}
.card__price {
  font-size: 16px;
  font-weight: 700;
  color: #e3953a;
}
.card__description {
  font-size: 15px;
  line-height: 1.2;
  margin-bottom: 20px;
}
.card__order-link {
  font-size: 16px;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
}
.card__order-link svg {
  vertical-align: bottom;
  margin-left: 15px;
}

@media (min-width: 640px) {
  .menu.block {
    padding-top: 50px;
  }
  .menu__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 40px;
  }
  .menu__title {
    text-align: left;
    margin: 0;
  }
  .menu__btn {
    margin: 0;
  }
  .menu__list {
    display: flex;
    justify-content: space-between;
  }
  .card {
    width: calc(33.3333% - 10px);
    margin: 0;
  }
  .card:not(:last-child) {
    margin: 0;
  }
}
@media (min-width: 768px) {
  .menu.block {
    padding-top: 80px;
  }
}
@media (min-width: 1024px) {
  .menu.block {
    padding-top: 180px;
  }
  .menu__inner {
    margin-bottom: 80px;
  }
  .card__body {
    padding: 25px 23px;
  }
  .card__inner {
    margin-bottom: 40px;
  }
  .card__title,
  .card__price {
    font-size: 18px;
  }
  .card__description {
    font-size: 16px;
    line-height: 1.4;
  }
}
