.header {
  background: #495e57;
}
.header__content {
  max-width: 250px;
  margin: 0 auto;
}
.header__promo {
  width: 100%;
  max-width: 250px;
  border-radius: 20px;

  margin: 0 auto;
}
.header__subtitle {
  margin-bottom: 15px;
}
.header__lead-text {
  max-width: 250px;
  margin-bottom: 15px;
}
.header__btn {
  margin-bottom: 25px;
}

@media (min-width: 640px) {
  .header .container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .header__content {
    max-width: 100%;
    margin: 0;
  }
  .header__promo {
    max-width: 300px;
    margin: 0;
  }
}
